#root {
    background-color: #c7d6d5;
    color: #0a0903;
    font-family: 'Victor Mono', monospace;
  }
  
  a {
    color: #d34f73 !important;
    font-weight: bold
  }
  
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px !important;
  }
  h2{
    font-family: 'Dancing Script', cursive;
    font-size: 40px !important;
  }
  
  ul {
    list-style-type: none;
  }
  
  #me {
    border-radius: 15px 50px;
    background: #52489c;
    padding: 5px;
  }
  
  img{
    border-radius: 20px;
    background: #52489c;
    padding: 3px;
    margin: 5px;
  }
  
  #about-me {
    text-align: center;
  }
  
  @media (max-width: 995px) {
    #about-container{
      flex-direction: column;
    }
  }
  @media (max-width: 1091px) {
   
  }