#root {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    color: blue !important;
    font-weight: bold
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 50px !important;
  }

  h2{
    font-family: 'Arial', sans-serif;
    font-size: 30px !important;
  }
  
  ul {
    list-style-type: none;
  }
  
  #my-picture {
    border-radius: 20px 40px;
    background: darkred;
    padding: 10px;
  }
  
  img{
    border-radius: 25px;
    background: black;
    padding: 3px;
    margin: 5px;
  }
  
  #text-bio {
    text-align: center;
  }
  
  @media (max-width: 920px) {
    #about-me{
      flex-direction: column;
    }
  }
  @media (max-width: 1091px) {
   
  }